node_modules/

# Playwright
playwright-report/
test-results/

# Allure
allure-results/
allure-report/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editors
.vscode/

# Storage State
storageState/*.json